.page {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.centerArea {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomArea {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 120px;
  height: 120px;
  color: var(--title-icon-color);
}

.name {
  font-size: 40px;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.position {
  font-size: 25px;
  color: var(--text-color);
  font-weight: 300;
}

.darkModeIcon {
  margin-top: 10px;
}

.languageSwitcher {
  display: flex;
  gap: 1rem;
}

.languageButton {
  width: 50px;
  height: 36px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  background-size: 100% 100% !important;
  filter: brightness(55%);
}

.languageButton.selected {
  filter: none;
}
