$dotSize: 10px;

.card {
  background-color: var(--card-background);
  border: 1px solid var(--card-border-color);
  border-radius: 4px;
  color: var(--text-color);
}

.body {
  padding: 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.03);
  height: 1.5rem;
  border-bottom: 1px solid var(--card-border-color);

  .dot {
    height: $dotSize;
    width: $dotSize;
    border-radius: $dotSize;
    margin-left: 0.5rem;
  }
}
