.layout-body {
  display: flex;
  flex-direction: column;
}

#layout-title-page {
  height: 100vh;
  width: 100%;
  background-color: #e9d5a1;
}

#layout-about-page {
}

#layout-skills-page {
  background-color: #1f1f1f;
  min-height: 200px;
}

#layout-experience-page {
  background-color: #efe1bd;
}

#layout-footer-page {
  min-height: 100px;
  background-color: #1f1f1f;
}
