@import '@/scss/variables.scss';
$dotSize: 10px;

.title {
  text-transform: uppercase;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 4px;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  margin-bottom: 7rem;
}

.cardContainer {
  width: calc(345px + 1rem);
  height: 305px;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  padding: 0.5rem;
  background-color: var(--card-background);
  box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
  transition: all 0.2s linear;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.01);
  z-index: 10;
  box-shadow: 0 10px 20px rgb(0 0 0 / 70%);
}

.cardDate {
  padding: 0px 15px 2px;
  border-radius: 0 0 5px 5px;
  background-color: #696969;

  color: white;
}

:global(.dark-theme) .cardDate {
  background-color: #918e97;
}

.cardImage {
  width: 345px;
  height: 230px;
  border: 4px solid #3f3f3f;
}

.mobile .cardImage {
  width: 125px;
  border: unset;
}

.cardTitleContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 6px;
  margin-top: 0.5rem;
}

.cardTitle {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 1.25rem;
}

.cardAdditionalInfo {
  font-size: 12px;
  width: 75px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  gap: 0.75rem;
  overflow: visible;
}

.cardTechnologyIcon {
  height: 1.5rem;
}

.dialog {
  width: 50rem;
  background-color: var(--dark-background) !important;

  @include media('<=desktop') {
    width: calc(100vw - 2rem);
  }

  :global(.p-dialog-header) {
    padding: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.03) !important;
    height: 1.5rem;
    border-bottom: 1px solid var(--card-border-color) !important;
  }

  :global(.p-dialog-content) {
    background-color: var(--dark-background) !important;
    padding-top: 0.75rem !important;
  }
}

.dot {
  height: $dotSize;
  width: $dotSize;
  border-radius: $dotSize;
  margin-left: 0.5rem;
}

.dotContainer {
  display: flex;
}

.galleriaCard {
  background-color: var(--dark-background);
}

.galleriaCardBody {
  padding: 0.5rem;
}

.galleria {
  :global(.p-galleria-item) {
    min-height: 0;

    :global(.p-image) {
      min-height: 0;
    }

    .image,
    video {
      aspect-ratio: 16/9;
      width: 100%;
      min-width: 0;

      img {
        aspect-ratio: 16/9;
        width: 100%;
        min-width: 0;
      }
    }

    .image.isMobile,
    video.isMobile {
      aspect-ratio: unset !important;
      width: 250px;
      height: 500px;

      img {
        width: 250px;
        height: 500px;
      }
    }
  }

  :global(.p-galleria-indicators) {
    padding-bottom: 0 !important;
  }
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerTitle {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
  }
}

.dialogCloseButton:global(.p-button.p-button-icon-only) {
  padding: 0rem !important;
  height: 1.25rem !important;
  width: 1.25rem !important;
}

.dialogCloseButton:global(.p-button.p-button-icon-only):focus {
  box-shadow: none !important;
}

.dialogContent {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.cardMainTitle {
  padding-top: 1rem;
  font-size: 20px;
  font-weight: 300;
  flex: 0;
}

.cardMainDescription {
  padding-top: 12px;
  font-size: 16px;
  flex: 0;
}

.dialogDescription {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.descriptonParagraph {
  margin-top: 0;
}

:global(.light-theme) .dialogDescription.current {
  text-shadow: 0px 0px 1px black;
}

:global(.dark-theme) .dialogDescription.current {
  text-shadow: 0px 0px 1px white;
}

.dialogTechnologies {
  display: flex;
  gap: 16px;
  margin-top: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.dialogTechnology {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
}
