.skills-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.skill-page-title {
  font-size: 18px/24px;
  letter-spacing: 4px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.skills-list {
  margin-bottom: 125px;
}

.skill-link {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.skill {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  background-color: rgba(248, 245, 244, 0.05);
  width: 120px;
  margin: 5px 10px;
  border-radius: 8px;
  user-select: none;
}

.skill-icon {
  font-size: 45px;
}

.skill-title {
  margin: 5px 0;
}
