.light-theme {
  --dark-background: #e9d5a1;
  --very-light-background: #7f7f7f;
  --light-background: #efe1bd;
  --white-background: #ffffff;
  --very-dark-background: #1f1f1f;
  --icon-background: rgb(174, 148, 79);
  --tag-color: #fff1bd;
  --tag-text-color: black;
  --card-background: white;
  --card-border-color: rgba(0, 0, 0, 0.125);
  --text-color: black;
  --inverted-text-color: white;
  --title-icon-color: rgb(68, 68, 68);
}

.dark-theme {
  --dark-background: #494949;
  --very-light-background: #ffffff;
  --light-background: #5b5b5b;
  --white-background: #7f7f7f;
  --very-dark-background: #1f1f1f;
  --icon-background: #919191;
  --tag-color: #696969;
  --tag-text-color: white;
  --card-background: #6d6d6d;
  --card-border-color: rgba(0, 0, 0, 0.125);
  --text-color: white;
  --inverted-text-color: black;
  --title-icon-color: rgb(189, 189, 189);
}
