@import '@/scss/variables.scss';

.title {
  text-transform: uppercase;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 4px;
}

:global {
  .dark-theme {
    :local {
      .title {
        color: white;
      }
    }
  }

  .light-theme {
    :local {
      .title {
        color: black;
      }
    }
  }
}

.layout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5rem;
  flex-wrap: wrap;
}

.photo {
  padding: 1rem;
  box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
  background-color: var(--card-background);
  .portrait {
    height: 250px;
    width: calc(250px * calc(2 / 3));
  }
}

.hi {
  font-size: 22px;
}

.card {
  width: 50%;

  @include media('<=tablet') {
    width: 90vw;
    overflow: hidden;
    margin-top: 5rem;
  }
}
